:root {
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elemento base*/

body {
    background: var(--preto);
    font-family: 'Martel Sans', sans-serif;
}

header .container {
    display: flex;
    align-items: center;

    margin-top: 19px;
}

header .logo {
    width: 100px;
 
    margin-left: 50px;
}

header .logo-mobile {
    display: none;
}

header nav {
    margin-left: 40px;
}

header nav a {
    font-size: 15px;
    text-decoration: none;
    color: rgb(243, 243, 243);

    margin-right: 15px;
    
}

header nav a:hover {
    color: rgb(156, 156, 156);
}

header nav .version-mobile {
    display: none;
}

/*conteúdo série principal*/

.serie-principal {
    background: linear-gradient(rgba(0, 0, 0, 0.250), rgba(0, 0, 0, 0.250) 100%), url('../img/capa-gambit.jpg');
    background-size: cover;

    font-size: 16px;
    color: #ffffff;

    margin-top: -60px;
    height: 700px;
}

.titulo {
    width: 500px;

    margin-top: 200px;
    margin-left: 50px;
}

.titulo-mobile {
    display: none;
}

.descricao {
    width: 500px;

    line-height: 25px;

    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.botao {
    font-size: 17px;
    font-weight: bold;

    cursor: pointer;

    border: none;
    border-radius: 4.5px;

    padding: 12px 25px;
    margin-left: 50px;
    margin-right: -45px;
}

.botao-mobile {
    display: none;
    background-color: #61616100;
    color: #ffffff;
}

.botao i {
    margin-right: 7px;
}

.botao-cinza {
    background-color: #616161a9;
    color: #ffffff;
}

.botao-cinza:hover {
    background-color: #3f3f3f86;
}

.botao-branco:hover {
    background-color: #a3a3a3;
}

.serie-principal .container {
    width: 70%;
}

.box-filmes {
    height: 100%;
    width: 100%;
    display: block;
}
